/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        dongle_bootload_macro: bootload_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bootloader>;
            label = "BOOTLOAD_MACRO";
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Number {
            bindings = <
&to 1       &ltq 2 TAB     &ltq 3 BACKSPACE                         &kp UP_ARROW
&kp ESCAPE  &kp KP_DIVIDE  &kp KP_MULTIPLY   &kp MINUS              &kp LEFT_ARROW
&kp N7      &kp N8         &kp N9            &kp PLUS               &kp DOWN_ARROW
&kp N4      &kp N5         &kp N6            &kp ENTER              &kp RIGHT_ARROW
&kp N1      &kp N2         &kp N3            &kp N0     &kp PERIOD  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "Number";
        };

        Navi {
            bindings = <
&to 0           &trans          &trans                                   &trans
&trans          &trans          &trans           &trans                  &trans
&kp HOME        &kp UP_ARROW    &kp PAGE_UP      &trans                  &trans
&kp LEFT_ARROW  &trans          &kp RIGHT_ARROW  &trans                  &trans
&kp END         &kp DOWN_ARROW  &kp PAGE_DOWN    &kp INSERT  &kp DELETE  &trans
            >;

            label = "Navi";
            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        Flash {
            bindings = <
&dongle_bootload_macro  &trans        &trans                                &trans
&bt BT_SEL 0            &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3            &trans
&trans                  &trans        &trans        &bt BT_CLR              &trans
&trans                  &trans        &trans        &bt BT_CLR_ALL          &trans
&trans                  &trans        &trans        &trans          &trans  &trans
            >;

            label = "Flash";
        };

        Rgb {
            bindings = <
&trans           &trans           &trans                                    &rgb_ug RGB_SAI
&trans           &trans           &trans           &trans                   &rgb_ug RGB_BRI
&trans           &rgb_ug RGB_HUI  &trans           &rgb_ug RGB_EFR          &rgb_ug RGB_SAD
&rgb_ug RGB_SPD  &trans           &rgb_ug RGB_SPI  &rgb_ug RGB_EFF          &rgb_ug RGB_BRD
&trans           &rgb_ug RGB_HUD  &trans           &trans           &trans  &rgb_ug RGB_TOG
            >;

            label = "Rgb";
        };
    };
};
